<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/forms.css">
    <title><%=pageTitle%></title>
   
</head>
<body>
     
     <%-include('../includes/navbar.ejs')%>
    
   
    <form action="/admin/add-review" method="post" class="product-form">

            <div class="product-form-div">   
            <label for="productTitle">Product Title</label>
            <input type="text" id="productTitle" name="productTitle" placeholder="Oppo-Enco-Air2Pro">
             </div>

            <div class="product-form-div">
             <label for="productPrice">Price (in Rs)</label>
             <input type="number" id="productPrice" name="productPrice" placeholder="100"/>
            </div>
               
             <div class="product-form-div">
             <label for="productRating">Rating</label>
              <select id="productRating" name="productRating">
                   <option value="">Choose Appropriate Rating</option>
                 <option value="1">1</option>
                 <option value="2">2</option>
                 <option value="3">3</option>
                 <option value="4">4</option>
                 <option value="5">5</option>
              </select>
            </div> 
              
            <div class="product-form-div">
                <label for="productImgUrl">Image Url</label>
                <input type="url" id="productImgUrl" name="productImgUrl"/>
               </div>

            <div class="product-form-div">
             <label for="productReview">Review</label>
            <textarea id="productReview" name="productReview" rows="5" cols="30"></textarea>
            </div>
            
         
            <button>Add Review</button>
           
           
    </form>




    <%-include('../includes/ion-icons-script.ejs')%>

</body>
</html>