.reviews-grid{
  display: grid;
 width: 80%;
  margin : 0 auto;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  
   /* grid-template-columns: repeat(4,1fr); */
  gap:18px;
  align-items:stretch;
}

.review-grid{
    display: grid;
    width: 70%;
     margin : 0 auto;
     grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
     gap:18px;
/* justify-content: center; */
background-color: darkslategray;
border-radius: 9px;
box-shadow: 0 18px 36px 0 rgba(127, 255, 212, 0.388)
}


.card{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
gap:18px;
justify-content:space-between;
/* width:100; */
background-color:darkslategray;
border-radius: 9px;
box-shadow: 0 18px 36px 0 rgba(127, 255, 212, 0.388)
}
.small-card{
    justify-content: space-around;
    background-color: inherit;
    box-shadow: none;
}
.card-image{
 width: 100%;
 /* height: auto; */
 height:60%;
 border-radius: 9px;
}
.big-card-image{
    width: 100%;
    border-radius: 9px;
}

.card-title{
    /* padding:10px; */
    text-align: center;
    color:aquamarine;
    font-weight: 500;
    text-transform: uppercase;
    font-size:20px;
}
.card-price{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
}
.card-rating{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
}
.card-logo{
fill:azure;
height:24px;
width:24px;
}
.cart-icon{
    width: 24px;
    height: 24px;
    fill:aquamarine;
}
.color-icon{
    fill:aquamarine;
}

.card-price-amount{
    color:azure;
    font-size: 20px;
    font-weight: 500;
}
.card-review{
    color:azure;
    font-size:16px;
    text-align: center;
    font-style: italic;
}
.card-buttons{
display: flex;
align-items: center;
justify-content: center;
width:100%;
}
.card-buttons button{
    
    padding: 0.4rem 0.4rem;
} 

